@use "../settings/colors";

.cardPicto {
  background: white;
  min-height: 104px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #CCD2EF;
  height: fit-content;
  padding: 0 !important;

  &--isSelected {
    border: 2px solid colors.$border-color;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 76px;
    overflow: hidden;
    padding: 0.15rem;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #CCD2EF;
    padding: 0.1rem 0;
    color: colors.$background-darker-color;

    p {
      color: colors.$text-darker-color;
      text-transform: capitalize;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }


  }
}
